{{ define "main" }}
<article class="flex-l mw8 center ph3 flex-wrap justify-between">
  <div
    class="nested-copy-line-height lh-copy serif f4 nested-links mid-gray pr4-l w-two-thirds-l"
  >
    {{.Content}}
  </div>
  {{ $data := .Site.Data.events }} {{ range $data.data.searchEvents.events }}
  <div style="width: 100%">
    <h2>{{ .title }}</h2>
    <p>{{.organization.name}}</p>
    <p>{{.organization.postalAddress}}</p>
    <p><a href="{{.organization.website}}">Website</a></p>
    {{$t:= time.AsTime .scheduledStartTime "Etc/UTC"}}
    <p>
      Date: {{$t | time.In "Europe/Berlin" | time.Format "2 Jan 2006 15:04"}}
    </p>
    <p>Capacity: {{.capacity}} People</p>
    <p>{{.description}}</p>
    <p>Rules Enforcement Level: {{.rulesEnforcementLevel}}</p>
    <p>Price: {{ div .entryFee.amount 100}} {{.entryFee.currency}}</p>
  </div>
  {{ end }}
</article>
{{ end }}
